.prog {
    text-align: center;
    background-color: darkcyan;
}
.lmsgi {
    text-align: center;
    background-color: lightpink;
}
.ipoi {
    text-align: center;
    background-color: red;
}
.bd {
    text-align: center;
    background-color: beige;
}
.tut {
    text-align: center;
    background-color: cornflowerblue;
}
.diw {
    text-align: center;
    background-color: coral;
}
.an {
    text-align: center;
    background-color: gold;
}
.si {
    text-align: center;
    background-color: yellow;
}
